#profilePicture{
    height: 200px;
    width: 200px;
}

body {
    text-align: center;
    width: 800px;
    position:relative;
    left: 325px;
    background-color: lightcyan;
    
}

#bioInfo {
    float: center;

}

h3{
    font-size: 16pt;
    background-color: navy;
    color:white;
}

.bodyText{
    font-weight: bold;
    font-size: 14pt;
    font-family: sans-serif;
}